/* font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); /* roboto */
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap"); /* syne mono */
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&family=Titillium+Web:ital@1&display=swap"); /* Titillium Web */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}
.menu {
  margin-top: 3%;
  background-color: gainsboro;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 1000px;
}

.center-text {
  text-align: center;
}
.est {
  font-family: "Titillium Web", "sans-serif";
}
.center {
  width: 100%;
  text-align: center;
}

hr {
  height: 3px;
  background-color: black;
  border-style: none;
}

/* font style */
h1,
h2 {
  font-family: "syne mono", "san serif";
}
h1 {
  text-align: center;
  color: black;
  letter-spacing: 5px;
}

.icon {
  width: 50px;
  margin-top: -20px;
}

footer p{
  font-size: 12px;
}